:root {
  --primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --green-1: 251 254 252;
  --green-2: 242 252 245;
  --green-3: 233 249 238;
  --green-4: 221 243 228;
  --green-5: 204 235 215;
  --green-6: 180 223 196;
  --green-7: 146 206 172;
  --green-8: 91 185 140;
  --green-9: 48 164 108;
  --green-10: 41 151 100;
  --green-11: 24 121 78;
  --green-12: 21 50 38;
  --blue-1: 251 253 255;
  --blue-2: 245 250 255;
  --blue-3: 237 246 255;
  --blue-4: 225 240 255;
  --blue-5: 206 231 254;
  --blue-6: 183 217 248;
  --blue-7: 150 199 242;
  --blue-8: 94 176 239;
  --blue-9: 0 145 255;
  --blue-10: 0 129 241;
  --blue-11: 0 106 220;
  --blue-12: 0 37 77;
  --red-1: 255 252 252;
  --red-2: 255 248 248;
  --red-3: 255 239 239;
  --red-4: 255 229 229;
  --red-5: 253 216 216;
  --red-6: 249 198 198;
  --red-7: 243 174 175;
  --red-8: 235 144 145;
  --red-9: 229 72 77;
  --red-10: 220 61 67;
  --red-11: 205 43 49;
  --red-12: 56 19 22;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow: 0 20px 25px -5px #0000001a,0 8px 10px -6px #0000001a;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);
}

html {
  
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  font-size: clamp(0.875rem, 0.2vw + 0.9rem, 1.10rem);
}

body {
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}